.header {
  background: linear-gradient(to right bottom, $primary, $secondary);
  &__title {
    color: white;
    text-decoration: none;
    h1 {
      margin: 0;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $s-size 0;
  }
}

.main-header {
  height: 8rem;
  background-color: #fff;
  background: linear-gradient(to right bottom, $primary, $secondary);
  color: $color-1;
  border-bottom: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}
