* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: $dark-grey;
  font-family: 'Fira Code', monospace, Helvetica, Arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
  background: linear-gradient(to right bottom, white, $secondary-font-color);
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.is-active {
  color: olivedrab;
}
